# Игнорировать файлы с расширением .log
*.log

# Игнорировать папку node_modules
node_modules/

# Игнорировать файлы, заканчивающиеся на .DS_Store
*.DS_Store

# Игнорировать файлы конфигурации отредактированные пользователями (например, .vscode)
.vscode/

# Игнорировать файлы настроек npm
package-lock.json
npm-debug.log

# Игнорировать файлы, созданные для проекта средой разработки
.env

# Игнорировать временные файлы
.tmp/
.temp/

# Игнорировать файлы сборки
/dist/
/build/
/out/

# Игнорировать файлы IDE и редактора кода
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.user
*.sln
*.vscode/
